@font-face {
    font-family: market;
    src: url(../../media/fonts/marketing-script-font/MarketingScriptShadow-lgZJy.ttf);
}

@font-face {
    font-family: mr;
    src: url(../../media/fonts/mr-bedfort-font/MrBedfort-06Kz.ttf);
}

.whole {
    width: 100%;
    text-align: center;
    margin-top: 3rem;






    .bordertop,
    .borderbottom {
        margin: auto;
        width: 17rem;
        height: 4rem;
    }

    .borderbottom {
        margin-top: -1rem;
    }

    h1 {
        margin-top: -.5rem;
    }

    .servicedivs {

        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-around;

        .inerimg {
            width: 100%;
            height: 100%;
        }

        .one,
        .two,
        .three {
            width: 30%;
            box-shadow: inset 0px 6px 15px 3px rgba(0, 0, 0, 0.585);
            height: 38rem;
            position: relative;
            background-color: skyblue;
            // overflow: hidden;
        }

        .oneinner,
        .twoinner,
        .threeinner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: market;
            font-size: 1rem;
            left: 10%;
            bottom: -5rem;
            position: absolute;
            background-color: grey;
            width: 80%;
            height: 13rem;
            z-index: 5;

            img {
                height: 80%;
                margin: auto;
                width: 90%;
            }
        }




    }




}



@media (min-width:1024px) and (max-width:1208px) {

    .one,
    .two,
    .three {
        height: 30rem !important;
    }

    .oneinner,
    .twoinner,
    .threeinner {

        height: 9rem !important;
    }

}


@media (min-width:768px) and (max-width:1023px) {

    .one,
    .two,
    .three {
        height: 25rem !important;
    }

    .oneinner,
    .twoinner,
    .threeinner {

        height: 7rem !important;


    }

}


@media (min-width:465px) and (max-width:767px) {

    .bordertop,
    .borderbottom {
        width: 16rem !important;
        height: 3rem !important;
    }

    .one,
    .two,
    .three {
        height: 18rem !important;
    }

    .oneinner,
    .twoinner,
    .threeinner {

        height: 5rem !important;


        bottom: -2rem !important;
        height: 13rem;

    }


}

@media (min-width:320px) and (max-width:464px) {

    .whole {
        margin-top: 1rem !important;
    }

    .bordertop,
    .borderbottom {
        width: 16rem !important;
        height: 3rem !important;
    }

    .one,
    .two,
    .three {
        height: 18rem !important;
    }

    .oneinner,
    .twoinner,
    .threeinner {

        height: 5rem !important;
        bottom: -2rem !important;
        height: 13rem;

    }


}