.whole {
    width: 100%;
    text-align: center;
    margin-top: 7rem;

    .bordertop,
    .borderbottom {
        margin: auto;
        width: 17rem;
        height: 4rem;
    }

    .borderbottom {
        margin-top: -1rem;
    }

    h1 {
        margin-top: -.5rem;
    }


    .revi {
        width: 100%;
        display: flex;
        // background-color: red;
        justify-content: space-around;

        .revione,
        .revitwo,
        .revithree {
            // background-color: orange;
            width: 30%;

            p {
                padding: 1rem;
                font-size: 1.25rem;
            }

            .onepic,
            .twopic,
            .threepic {
                padding: 1rem;
                width: 15rem;
                height: auto;
                background-color: skyblue;
                border-radius: 50%;
                width: 100%;
            }


        }

    }

}


@media (min-width:1209px) {

    .onepic,
    .twopic,
    .threepic {
        width: 15rem !important;
    }

}


@media (min-width:1024px) and (max-width:1208px) {

    .onepic,
    .twopic,
    .threepic {
        padding: 1rem;
        width: 10rem !important;
        height: auto;
        background-color: skyblue;
        border-radius: 50%;
        width: 100%;
    }


    .revione,
    .revitwo,
    .revithree {

        p {
            font-size: 1.20rem !important;
        }
    }
}



@media (min-width:768px) and (max-width:1023px) {

    .onepic,
    .twopic,
    .threepic {
        width: 8rem !important;
    }


    .revione,
    .revitwo,
    .revithree {

        p {
            font-size: 1.1rem !important;
        }
    }
}

@media (min-width:465px) and (max-width:767px) {

    .onepic,
    .twopic,
    .threepic {
        width: 5rem !important;
    }


    .revione,
    .revitwo,
    .revithree {

        p {
            font-size: .7rem !important;
        }
    }

    .bordertop,
    .borderbottom {
        width: 16rem !important;
        height: 3rem !important;
    }
}

@media (min-width:320px) and (max-width:464px) {

    .onepic,
    .twopic,
    .threepic {
        width: 3rem !important;
    }


    .revione,
    .revitwo,
    .revithree {

        p {
            font-size: .5rem !important;
        }
    }

 


    .bordertop,
    .borderbottom {
        width: 16rem !important;
        height: 3rem !important;
    }
}